@model DatingApp.Models.ProfileViewModels.ProfileIndexViewModel

<form class="form-horizontal">
    <input type="hidden" id="user-id" value="@Model.Id" />
    <textarea class="form-control" id="new-post"></textarea>
    <button type="button" class="btn btn-primary" id="post-wall-button">Post</button>
</form>

<!-- Posts below -->
<div id="posts-div" class="panel-group">
</div>

@Scripts.Render("~/bundles/posts")