@model DatingApp.Models.ProfileViewModels.ProfileIndexViewModel

@Scripts.Render("~/bundles/custom")


<form class="form-horizontal">
    <input type="hidden" id="user-id" value="@Model.Id" />
    <label for="new-post" id="post-label">
        Post something on @Model.Name's wall
    </label>
    <textarea class="form-control" id="new-post"></textarea>
    <button type="button" class="btn btn-primary wall-button" id="post-wall-button">Post</button>
</form>

<!-- Posts below -->
<div id="posts-div" class="panel-group">
</div>

@Scripts.Render("~/bundles/posts")