#search {
    margin-top: 7%;
    margin-left: 10%
}

#search-button {
    position: absolute;
    left: 120%;
    top: 17.5%;
}

.profile-image {
    max-width: 150px;
    max-height: 150px;
}

.m-top {
    margin-top: 5em !important;
}

.button-col {
    padding-top: 2em !important;
}

.panel-header-wide {
    padding-bottom: 2em;
}

.wall-button {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

#profile-name-space {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

textarea {
    max-width: 100% !important;
}

.col-md-8 {
    word-wrap: break-word !important;
}