@model DatingApp.Models.ProfileViewModels.ProfilesIndexViewModel

@{
    ViewBag.Title = "CODR";
}

<h2>Welcome to CODR</h2>

<div class="row">
    @foreach (var item in Model.Profiles)
    {
        <div class="jumbotron">
            <h2>@item.Name</h2>
            <p>@item.Age, @item._Gender</p>
            @using (Html.BeginForm("Index", "Profile", FormMethod.Get))
            {
                @Html.Hidden("userId", item.Id)
                <input type="submit"
                       value="View profile"
                       class="btn btn-success" />
            }
        </div>
    }
</div>